In [17]:
from selenium import webdriver
from bs4 import BeautifulSoup
import zipfile
import pandas as pd
from io import StringIO
import requests
import csv
import time
import random

# Creating Dataframe

In [18]:
#pip import xlrx (Python Library extract Excel spreadsheets)

Indiana_url = "https://hub.mph.in.gov/dataset/62ddcb15-bbe8-477b-bb2e-175ee5af8629/resource/2538d7f1-391b-4733-90b3-9e95cd5f3ea6/download/covid_report_demographics.xlsx"

#takes data from the "Race" tab in the spreadsheet
Indiana_race = pd.read_excel(Indiana_url, "Race")

#takes data from the "Ethnicity" tab in the spreadsheet
Indiana_ethnicity = pd.read_excel(Indiana_url, "Ethnicity")

# Data Cleaning

In [19]:
#delete columns which are not used for COVID Racial Data Tracker
Indiana_race = Indiana_race.drop(['COVID_TEST_PCT','COVID_COUNT_PCT','COVID_DEATHS_PCT'], 1)
Indiana_ethnicity = Indiana_ethnicity.drop(['COVID_TEST_PCT','COVID_COUNT_PCT','COVID_DEATHS_PCT'], 1)

#renames COVID_COUNT to cases
Indiana_race.rename(columns = {'COVID_COUNT':'Cases'}, inplace = True)
Indiana_race.rename(columns = {'COVID_TEST':'Tests'}, inplace = True)
Indiana_race.rename(columns = {'COVID_DEATHS':'Deaths'}, inplace = True)
Indiana_ethnicity.rename(columns = {'COVID_COUNT':'Cases'}, inplace = True)
Indiana_ethnicity.rename(columns = {'COVID_TEST':'Tests'}, inplace = True)
Indiana_ethnicity.rename(columns = {'COVID_DEATHS':'Deaths'}, inplace = True)

# #repositioning columns for IN
Indiana_race = Indiana_race[['RACE', 'Cases', 'Deaths', 'Tests']]

# #repositioning columns for GA
Indiana_ethnicity = Indiana_ethnicity[['ETHNICITY', 'Cases', 'Deaths', 'Tests']]

# Indiana Race Dataframe

In [20]:
Indiana_race

                        RACE  Cases  Deaths    Tests
0                      Asian   2004      22    29875
1  Black or African American  13887     473   127472
2                 Other Race  22162     539   196777
3                    Unknown  32450     290   227410
4                      White  96061    2634  1065008

# Indiana Ethnicity Dataframe

In [21]:
Indiana_ethnicity

                ETHNICITY  Cases  Deaths   Tests
0      Hispanic or Latino  13292     101   57968
1  Not Hispanic or Latino  67150    1978  694331
2                 Unknown  86122    1879  894243